*{
    margin: 0;
    padding:0;
}
body{
    width: 100vw;
    background-color: rgb(232, 232, 237);
}
p{
    font-family: basic;
    font-size: 1.5em;
}
a:link{
    color:rgb(232, 232, 237);
}
a:visited{
    color:rgb(231, 176, 219);
}

h1{
    font-family:boldfont;
    font-size: 5em;
    color: rgb(32, 20, 47) ;
}
.button {
    width:2vw;
    color:rgb(232, 232, 237);;
    position:fixed;
    z-index:201;
}
.button:hover{
    width:3vw;
}
.buttonside {
    color:rgb(232, 232, 237);;
    margin-left: 80%;
    align-items: center;
    margin-top: 0.5vw;
    position:fixed;
    z-index:201;
    font-size: 1.5em;
}
.header{
    position:fixed;
    z-index: 100;
}
.headerbox{
    box-sizing: border-box;
    border: 0.2vw solid rgb(255, 255, 255);
    position:fixed;
    width: 100vw;
    height: 5vh;
    background-color:rgb(32, 20, 47);
    z-index: 200;
}
.image {
    width: 20%;
    height: 20%;
    border: 5px solid rgb(32, 20, 47);
    margin: 0.5vw;
}

#container{
    padding-top:3vw;
    padding-left: 1vw;
}
#containertemp{
    display:flex;
    justify-content:center;
}
@font-face{
    font-family:pixel;
    src: url(./Fonts/Jersey10-Regular.ttf);
}

@font-face {
    font-family:basic;
    src: url(./Fonts/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family:cool;
    src: url(./Fonts/ZillaSlabHighlight-Regular.ttf);
}

@font-face {
    font-family:coolb;
    src: url(./Fonts/ZillaSlabHighlight-Bold.ttf);
}

@font-face {
    font-family:boldfont;
    src: url(./Fonts/AlfaSlabOne-Regular.ttf);
}

@media (orientation: portrait)
{
    
}