.button {
    width:10vw;
}
.image {
    width: 50%;
    height: 50%;
    border: 5px solid black;
}
.header{
    position:fixed;
}
}
p{
    font-family: basic;
    font-size: 5vw;
}
#container{
    display:flex;
    justify-content:middle;
}
@font-face{
    font-family:pixel;
    src: url(./Fonts/Jersey10-Regular.ttf);
}

@font-face {
    font-family:basic;
    src: url(./Fonts/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family:cool;
    src: url(./Fonts/ZillaSlabHighlight-Regular.ttf);
}

@font-face {
    font-family:coolb;
    src: url(./Fonts/ZillaSlabHighlight-Bold.ttf);
}

@font-face {
    font-family:boldfont;
    src: url(./Fonts/AlfaSlabOne-Regular.ttf);
}